<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.aiarmHistory.AiarmHistoryMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.aiarmHistory.AiarmHistory">

        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="water_fountains_code" property="waterFountainsCode" jdbcType="VARCHAR"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="property_id" property="propertyId" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="REAL"/>
        <result column="latitude" property="latitude" jdbcType="REAL"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
        <result column="fix_time" property="fixTime" jdbcType="TIMESTAMP"/>
        <result column="duration" property="duration" jdbcType="REAL"/>
    </resultMap>
    <select id="page" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT * FROM tb_aiarm_history WHERE 1=1
        <if test="id!=null">
            AND property_id=#{id}
        </if>
        <if test="value!=null">
            AND (water_fountains_code LIKE #{value} OR place LIKE #{value})
        </if>
        <if test="date1!=null">
            AND ctime > #{date1}
        </if>
        <if test="date2!=null">
            AND DATE_FORMAT(#{date2}, '%Y-%m-%d')>=DATE_FORMAT(ctime, '%Y-%m-%d')
        </if>

        ORDER BY ctime DESC
    </select>

    <select id="getDayData" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_aiarm_history WHERE DATE_FORMAT(ctime, '%Y-%m-%d')=DATE_FORMAT(NOW(), '%Y-%m-%d')
        <if test="id!=null">
            AND property_id=#{id}
        </if>
    </select>
    <select id="getMonthData" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_aiarm_history WHERE DATE_FORMAT(ctime, '%Y-%m')=DATE_FORMAT(NOW(), '%Y-%m')
        <if test="id!=null">
            AND property_id=#{id}
        </if>
    </select>
    <select id="getDeviceMonthData" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM (SELECT count(*) FROM tb_aiarm_history WHERE DATE_FORMAT(ctime, '%Y-%m')=DATE_FORMAT(NOW(),
        '%Y-%m')
        <if test="id!=null">
            AND property_id=#{id}
        </if>
        GROUP BY water_fountains_code) AS aaa

    </select>
    <select id="getMonthFixData" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_aiarm_history WHERE DATE_FORMAT(ctime, '%Y-%m')=DATE_FORMAT(NOW(), '%Y-%m')
        <if test="id!=null">
            AND property_id=#{id}
        </if>
    </select>
    <select id="getDayFixData" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_aiarm_history WHERE DATE_FORMAT(ctime, '%Y-%m-%d')=DATE_FORMAT(NOW(), '%Y-%m-%d')
        <if test="id!=null">
            AND property_id=#{id}
        </if>
    </select>


</mapper>