<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.collector.CollectorMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.collector.Collector">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="property_id" property="propertyId" jdbcType="VARCHAR"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMapVO" type="com.signs.dto.Collector.CollectorVO" extends="BaseResultMap">
        <result column="tuiguan" property="tuiguan" jdbcType="INTEGER"/>
        <result column="touzi" property="touzi" jdbcType="INTEGER"/>
    </resultMap>


    <select id="findData" parameterType="com.signs.model.collector.Collector" resultMap="BaseResultMapVO">
        select c.id,c.code,c.name,c.status,c.property_name,c.property_id,c.ctime,
        (select count(*) from tb_manager_user_collector where collector_id = c.id and manager_user_type = 1) as tuiguan,
        (select count(*) from tb_manager_user_collector where collector_id = c.id and manager_user_type = 2) as touzi
        from tb_collector as c
        where 1 =1
        <if test="status != null">
            and c.status = #{status}
        </if>
        <if test="name != null and name != ''">
            and (c.name like CONCAT('%',#{name},'%') or c.code like CONCAT('%',#{name},'%'))
        </if>
        order by c.ctime desc
    </select>

    <select id="findByManager" parameterType="java.lang.String" resultType="java.lang.String">
        select code from tb_collector where property_id = #{managerId}
    </select>

    <select id="findWithNoProperty" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from tb_collector where ISNULL(property_id)
    </select>


</mapper>