<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.aiarm.AiarmMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.aiarm.Aiarm">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="water_fountains_code" property="waterFountainsCode" jdbcType="VARCHAR"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="property_name" property="propertyName" jdbcType="VARCHAR"/>
        <result column="property_id" property="propertyId" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="REAL"/>
        <result column="latitude" property="latitude" jdbcType="REAL"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="pageData" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from tb_aiarm
        <where>
            <if test="keyWord != null and keyWord != ''"> and ( water_fountains_code like CONCAT('%','${keyWord}','%')  or place like CONCAT('%','${keyWord}','%') )</if>
            <if test="start != null"> and ctime <![CDATA[>= ]]> #{start} </if>
            <if test="end != null"> and ctime <![CDATA[<= ]]> #{end} </if>
            <if test="id != null and id != ''">and property_id = #{id}</if>
        </where>
    </select>

    <select id="countDay" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from tb_aiarm where  DATE_FORMAT(ctime, '%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
        <if test="id != null and id != ''">
            and property_id = #{id}
        </if>
    </select>

    <select id="countMonth" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from tb_aiarm where DATE_FORMAT(ctime, '%Y-%m') = DATE_FORMAT(now(),'%Y-%m')
        <if test="id != null and id != ''">
            and property_id = #{id}
        </if>
    </select>

    <select id="countMonthDevcie" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from
            (select count(*) from tb_aiarm
              where DATE_FORMAT(ctime, '%Y-%m') = DATE_FORMAT(now(),'%Y-%m')
            <if test="id != null and id != ''">
                and property_id = #{id}
            </if>
              group by water_fountains_code)  as a
    </select>


</mapper>