<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dataDrinkwater.DataDrinkwaterMapper" >
  <resultMap id="BaseResultMap" type="com.signs.model.dataDrinkwater.DataDrinkwater" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="import_temp" property="importTemp" jdbcType="DOUBLE" />
    <result column="export_temp" property="exportTemp" jdbcType="DOUBLE" />
    <result column="import_pressure" property="importPressure" jdbcType="DOUBLE" />
    <result column="export_pressure" property="exportPressure" jdbcType="DOUBLE" />
    <result column="moment_flow" property="momentFlow" jdbcType="DOUBLE" />
    <result column="total_flow" property="totalFlow" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="tap_status" property="tapStatus" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="get_time" property="getTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>