<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.waterFountains.WaterFountainsMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.waterFountains.WaterFountains">

        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="table_code" property="tableCode" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="water_price" property="waterPrice" jdbcType="REAL"/>
        <result column="cost_scale" property="costScale" jdbcType="REAL"/>
        <result column="longitude" property="longitude" jdbcType="REAL"/>
        <result column="latitude" property="latitude" jdbcType="REAL"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultMapVO" type="com.signs.dto.waterFountain.WaterFountainsVO" extends="BaseResultMap">
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM tb_water_fountains
        WHERE code = #{code}
    </select>

    <select id="selectTableCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM tb_water_fountains
        WHERE table_code = #{tableCode}
    </select>

    <select id="getDispenser" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT wf.*
        FROM tb_water_fountains as wf
        left join tb_watermeter as wm on wf.table_code = wm.code
        left join tb_collector as c on wm.collector_code = c.code
        WHERE 1=1
        <if test="type!=null">
            AND wf.type = #{type}
        </if>
        <if test="value!=null">
            AND wf.code LIKE #{value} OR wf.place LIKE #{value}
        </if>
        <if test="id != null and id != ''">
            and c.property_id = #{id}
        </if>
        ORDER BY wf.ctime
    </select>

    <select id="getPublic" parameterType="java.util.HashMap" resultMap="BaseResultMapVO">
        SELECT f.*,if(ISNULL(a.id),"0","1") as status FROM tb_water_fountains as f
        left join tb_watermeter as w on f.table_code = w.code
        left join tb_collector as c on w.collector_code = c.code
        left join tb_aiarm as a on f.code = a.water_fountains_code
        WHERE f.type = #{type}
        <if test="id != null and id != ''">
            and c.property_id = #{id}
        </if>
    </select>


    <select id="getLastDispenser" resultMap="BaseResultMap">
        SELECT *
        FROM tb_water_fountains
        ORDER BY ctime DESC
        LIMIT 0, 1
    </select>

    <update id="updateWaterFountain" parameterType="java.util.HashMap">
        UPDATE tb_water_fountains AS twf
        SET water_price = (SELECT tmu.water_price
                           FROM tb_manager_user AS tmu
                           WHERE tmu.id = #{managerUserId}),
            cost_scale  = (SELECT tmu.cost_scale
                           FROM tb_manager_user AS tmu
                           WHERE tmu.id = #{managerUserId})

        WHERE twf.table_code IN (SELECT tb_watermeter.code
                                 FROM tb_watermeter
                                 WHERE collector_code = (SELECT code
                                                         FROM tb_collector
                                                         WHERE tb_collector.id = #{collectorId}
                                 ))
    </update>
    <select id="tableCodeExist" parameterType="java.lang.String" resultType="java.lang.String">
        #查询水卡编号是否存在
        SELECT id
        FROM tb_watermeter
        WHERE code = #{code};
    </select>
    <select id="tableCodeUsed" parameterType="java.lang.String" resultType="java.lang.String">
        #查询水卡编号是否已被使用
        SELECT tw.id
        FROM tb_water_fountains twf
            JOIN tb_watermeter tw ON twf.table_code = tw.code
        WHERE tw.code = #{code};
    </select>
</mapper>