<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.waterFountains.WaterFountainsMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.waterFountains.WaterFountains">

        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="place" property="place" jdbcType="VARCHAR"/>
        <result column="table_code" property="tableCode" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="water_price" property="waterPrice" jdbcType="REAL"/>
        <result column="cost_scale" property="costScale" jdbcType="REAL"/>
        <result column="longitude" property="longitude" jdbcType="REAL"/>
        <result column="latitude" property="latitude" jdbcType="REAL"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM tb_water_fountains WHERE code=#{code}
    </select>

    <select id="selectTableCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT * FROM tb_water_fountains WHERE table_code=#{tableCode}
    </select>

    <select id="getDispenser" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT *
        FROM tb_water_fountains
        WHERE 1=1
        <if test="type!=null">
            AND type = #{type}
        </if>
        <if test="value!=null">
            AND code LIKE #{value} OR place LIKE #{value}
        </if>
         ORDER BY ctime
    </select>
    <select id="getLastDispenser" resultMap="BaseResultMap">
        select * from tb_water_fountains  ORDER BY ctime DESC limit 0,1
    </select>
</mapper>