<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.user.User">

        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="card_type" property="cardType" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="REAL"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="pageFuzzy" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select tu.id,tu.card_type,tu.name,tu.phone,tu.ctime,twc.code AS card_no,twc.balance AS price
        from tb_water_card twc JOIN tb_user tu ON twc.user_id=tu.id
        <if test="status!=null">
            AND card_type=#{status}
        </if>
        <if test="value!=null">
            AND (card_no LIKE #{value} OR name LIKE #{value})
        </if>
    </select>

    <select id="pageCard" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select tu.id,tu.card_type,tu.name,tu.phone,tu.price,tu.ctime,twc.code AS card_no
        from tb_water_card twc JOIN tb_user tu ON twc.user_id=tu.id
        WHERE user_id=#{id}
        <if test="type!=null">
            AND type=#{type}
        </if>
    </select>
</mapper>