<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signs.mapper.userPurchaseRecord.UserPurchaseRecordMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.userPurchaseRecord.UserPurchaseRecord">

        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="price" jdbcType="REAL" property="price"/>
        <result column="total_price" jdbcType="REAL" property="totalPrice"/>
        <result column="water_consumption" jdbcType="REAL" property="waterConsumption"/>
        <result column="total_consumption" jdbcType="REAL" property="totalConsumption"/>
        <result column="unit_cost" jdbcType="REAL" property="unitCost"/>
        <result column="balance" jdbcType="REAL" property="balance"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="place" jdbcType="VARCHAR" property="place"/>
        <result column="ctime" jdbcType="TIMESTAMP" property="ctime"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="collector_id" jdbcType="VARCHAR" property="collectorId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
    </resultMap>
    <!--查询一张卡的消费记录和充值记录-->
    <select id="selectAllOrder" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        (SELECT '1' id, price ,tupr.ctime,order_id,twc.type AS name FROM tb_user_purchase_record tupr JOIN tb_water_card
        twc ON tupr.card_no=twc.code
        WHERE card_no=#{cardNo}
        <if test="type!=null and type==1 and date!=null">
            AND DATE_FORMAT(tupr.ctime, '%Y-%m-%d')=DATE_FORMAT(#{date}, '%Y-%m-%d')
        </if>
        <if test="type!=null and type==2 and date!=null">
            AND DATE_FORMAT(tupr.ctime, '%Y-%m')=DATE_FORMAT(#{date}, '%Y-%m')
        </if>
        )
        UNION
        (SELECT '2' id,price,turr.ctime,order_id,twc2.type AS name FROM tb_user_recharge_record turr JOIN tb_water_card
        twc2 ON turr.card_id=twc2.code
        WHERE card_id=#{cardNo}
        <if test="type!=null and type==1 and date!=null">
            AND DATE_FORMAT(turr.ctime, '%Y-%m-%d')=DATE_FORMAT(#{date}, '%Y-%m-%d')
        </if>
        <if test="type!=null and type==2 and date!=null">
            AND DATE_FORMAT(turr.ctime, '%Y-%m')=DATE_FORMAT(#{date}, '%Y-%m')
        </if>
        )
        ORDER BY ctime DESC


    </select>
    <!--查询一条记录-->
    <select id="selectOneOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
        (  SELECT
            '1' AS id,
            price,
            tupr.balance,
            tupr.place,
            twc.type AS name,
            tupr.ctime,
            order_id,
            card_no
        FROM tb_user_purchase_record tupr
            JOIN tb_water_card twc ON tupr.card_no = twc.code
        WHERE order_id = #{orderId}
        )  UNION  (SELECT '2' AS id,price,turr.balance,'no' place, twc2.type AS name,turr.ctime,order_id,card_id AS card_no FROM tb_user_recharge_record turr JOIN tb_water_card
       twc2 ON turr.card_id=twc2.code
        WHERE order_id = #{orderId})
    </select>

    <!--显示用户当月消费记录-->
    <select id="selectMonth" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT sum(price) AS balance
        FROM tb_user_purchase_record WHERE DATE_FORMAT(ctime, '%Y-%m')=DATE_FORMAT(now(), '%Y-%m')
        <if test="cardNo!=null">
            AND card_no=#{cardNo}
        </if>
    </select>
    <!--显示最新的用户消费记录-->
    <select id="selectDay" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT *
        FROM tb_user_purchase_record WHERE 1=1
        <if test="userId!=null">
            AND user_id=#{userId}
        </if>
        ORDER BY ctime LIMIT 0,1
    </select>
    <!--通过时间和用户id查询消费记录-->
    <select id="selectByUserId" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT tupr.id,tupr.user_id,price,water_consumption,unit_cost,twc.balance balance
        ,tupr.place,tupr.name,tupr.card_no,tupr.ctime,tupr.collector_id,tupr.order_id,card_no,
        (SELECT sum(price) FROM tb_user_purchase_record WHERE user_id=tupr.user_id) AS total_price,
        (SELECT sum(water_consumption) FROM tb_user_purchase_record WHERE user_id=tupr.user_id)AS total_consumption
        FROM tb_user_purchase_record tupr JOIN tb_water_card twc ON tupr.card_no=twc.code WHERE 1=1
        <if test="userId!=null">
            AND tupr.user_id=#{userId}
        </if>
        <if test="value!=null">
            AND tupr.name LIKE #{value}
        </if>
        <if test="date1!=null">
            AND tupr.ctime > #{date1}
        </if>
        <if test="date2!=null">
            AND DATE_FORMAT(#{date2}, '%Y-%m-%d')>=DATE_FORMAT(tupr.ctime, '%Y-%m-%d')
        </if>
    </select>
    <!--月数据-->
    <select id="totalMonth" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT sum(water_consumption) AS water_consumption, sum(unit_cost * tb_user_purchase_record.water_consumption)
        AS unit_cost
        FROM tb_user_purchase_record WHERE DATE_FORMAT(ctime, '%Y-%m')=DATE_FORMAT(#{date}, '%Y-%m')
        <if test="id!=null">
            AND user_id=#{id}
        </if>
    </select>
    <!--当天数据-->
    <select id="totalDay" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT sum(water_consumption) AS water_consumption,
        sum(unit_cost*tb_user_purchase_record.water_consumption) AS unit_cost
        FROM tb_user_purchase_record WHERE 1=1
        <if test="date!=null">
            and DATE_FORMAT(ctime, '%Y-%m-%d')=DATE_FORMAT(#{date}, '%Y-%m-%d')
        </if>

        <if test="id!=null">
            AND user_id=#{id}
        </if>
    </select>
    <!--统计当天消费次数-->
    <select id="totalCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT count(*) FROM tb_user_purchase_record WHERE 1=1
        <if test="date!=null">
            And DATE_FORMAT(ctime, '%Y-%m-%d')=DATE_FORMAT(#{date}, '%Y-%m-%d')
        </if>
    </select>

    <!--当天不同时段用户人数、用水量和消费金额-->
    <select id="getWaterAndMoneyDay" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT
        DATE_FORMAT(ctime,'%H') name,
        count(*) total_price,
        sum(price) price,
        sum(water_consumption) AS water_consumption
        FROM tb_user_purchase_record
        WHERE DATE_FORMAT(ctime, '%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d')
        <if test="id!=null">
            AND user_id=#{id}
        </if>
        GROUP BY hour(ctime)
    </select>
    <!--当月不同时段用水量和消费金额-->
    <select id="getWaterAndMoneyMonth" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT
        day(ctime) name,
        sum(price) price,
        sum(water_consumption) AS water_consumption
        FROM tb_user_purchase_record
        WHERE DATE_FORMAT(ctime, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
        <if test="id!=null">
            AND user_id=#{id}
        </if>
        GROUP BY day(ctime)
    </select>


    <!--分成,income物业收入-->
    <select id="divide" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT
        sum((1 - tmu.cost_scale) * tupr.price) AS total_price,
        sum((1 - tmu.cost_scale) * tupr.price * tmu.ivision_proportion) AS price,
        DATE_FORMAT(tupr.ctime, '%m') AS name
        FROM tb_user_purchase_record AS tupr
        JOIN tb_collector AS tc ON tupr.collector_id = tc.id
        JOIN tb_manager_user AS tmu ON tmu.id = tc.property_id
        WHERE 1=1
        <if test="day!=null">
            AND DATE_FORMAT(tupr.ctime, '%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d')
        </if>
        <if test="month!=null">
            AND DATE_FORMAT(tupr.ctime, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
        </if>
    </select>
    <!--推广-->
    <select id="divide1" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT sum((1 - (select cost_scale from tb_manager_user where id = tc.property_id) )*tupr.price)*(select
        sum(ivision_proportion) from tb_manager_user where user_type = #{type} and id in
        (SELECT manager_user_id from tb_manager_user_collector WHERE collector_id = tc.id )) AS price
        FROM tb_user_purchase_record tupr
        JOIN tb_collector tc ON tupr.collector_id = tc.id
        WHERE tc.id in (select id from tb_collector)
        <if test="day!=null">
            AND DATE_FORMAT(tupr.ctime, '%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d')
        </if>
        <if test="month!=null">
            AND DATE_FORMAT(tupr.ctime, '%Y-%m') = DATE_FORMAT(#{date}, '%Y-%m')
        </if>
    </select>
    <select id="selectDefaultYear" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        <if test="type!=null and type==1">
            SELECT
            price,
            month(ctime) AS 'name'
            FROM tb_user_purchase_record
            WHERE card_no = #{defaultCardNo} AND DATE_FORMAT(ctime, '%Y') = DATE_FORMAT(now(), '%Y')
            GROUP BY DATE_FORMAT(ctime, '%m')
        </if>
        <if test="type!=null and type==2">
            SELECT
            price,
            month(ctime) AS 'name'
            FROM tb_user_recharge_record
            WHERE card_id = #{defaultCardNo} AND DATE_FORMAT(ctime, '%Y') = DATE_FORMAT(now(), '%Y')
            GROUP BY DATE_FORMAT(ctime, '%m')
        </if>

    </select>

</mapper>