<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.waterCard.WaterCardMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.waterCard.WaterCard">

        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="balance" jdbcType="REAL" property="balance"/>
        <result column="def" jdbcType="INTEGER" property="def"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="BaseResultMapVO" type="com.signs.dto.waterCard.WaterCardVO" extends="BaseResultMap">
        <result column="purchase" jdbcType="REAL" property="purchase"/>
        <result column="recharge" jdbcType="REAL" property="recharge"/>
    </resultMap>
    <select id="selectCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM tb_water_card
        WHERE code = #{code}
    </select>
    <select id="getWaterCard" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT *
        FROM tb_water_card
        WHERE 1=1
        <if test="type!=null">
            AND type = #{type}
        </if>
        <if test="status!=null">
            AND status=#{status}
        </if>
        <if test="value!=null">
            AND code LIKE #{value}
        </if>
    </select>
    <select id="findDefaultCardNo" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT code
        FROM tb_water_card
        WHERE user_id = #{userId} AND def = 1
    </select>

    <update id="cancelDefault" parameterType="java.lang.String">
        UPDATE tb_water_card
        SET def = 0
        WHERE user_id = #{userId}
    </update>

    <update id="cancelCard" parameterType="com.signs.model.waterCard.WaterCard">
        UPDATE tb_water_card
        SET
            def     = 0,
            phone   = NULL,
            remark  = NULL,
            user_id = NULL,
            status  = 2,
            balance = 0
        WHERE id = #{id}
    </update>

    <select id="getCards" parameterType="com.signs.model.waterCard.WaterCard" resultMap="BaseResultMapVO">
        SELECT
            wc.*,

            ifnull((SELECT sum(price)
             FROM tb_user_recharge_record
             WHERE card_id = wc.code
                   AND DATE_FORMAT(ctime, '%Y-%m') = DATE_FORMAT(now(), '%Y-%m')),0) AS recharge,

            ifnull((SELECT sum(price)
             FROM tb_user_purchase_record
             WHERE card_no = wc.code
                   AND DATE_FORMAT(ctime, '%Y-%m') = DATE_FORMAT(now(), '%Y-%m')),0) AS purchase

        FROM tb_water_card AS wc

        WHERE wc.user_id = #{userId} AND wc.type = #{type}
    </select>


</mapper>