<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.signs.mapper.watermeter.WatermeterMapper">
    <resultMap id="BaseResultMap" type="com.signs.model.watermeter.Watermeter">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="total_code" property="totalCode" jdbcType="VARCHAR"/>
        <result column="collector_code" property="collectorCode" jdbcType="VARCHAR"/>
        <result column="flow_day" property="flowDay" jdbcType="REAL"/>
        <result column="flow_month" property="flowMonth" jdbcType="REAL"/>
        <result column="flow_total" property="flowTotal" jdbcType="REAL"/>
        <result column="tap_status" property="tapStatus" jdbcType="INTEGER"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="pageData" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        SELECT * from tb_watermeter
        where 1=1
        <if test="code != null and code != ''">
            and code like CONCAT('%',#{code},'%')
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="tapStatus != null and tapStatus != ''">
            and tap_status = #{tapStatus}
        </if>
        <if test="id != null and id != ''">
            and collector_code in (select code from tb_collector where property_id = #{id})
        </if>
        order by ctime desc
    </select>

    <select id="queryByCollector" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT code from tb_watermeter where collector_code = #{collectorCode}
    </select>

    <select id="isHaveCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from tb_watermeter where code = #{code}
    </select>

    <select id="countByUser" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from tb_watermeter as w
        left join tb_collector as c on w.collector_code = c.code
        <if test="_parameter != null and _parameter != ''">
            where c.property_id = #{_parameter}
        </if>
    </select>

</mapper>